html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: antiquewhite;
}

#banner {
  background: url(https://i.ibb.co/xMJCGxc/bck2.jpg)no-repeat center 0px;
  background-size: cover;
  position: relative;
}

.banner-info {
  padding: 3.5em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: 0;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1115px;
  }
}

div {
  display: block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-left {
  float: left;
  width: 40%;
}

.header-left img {
  width: 100%;
  border-radius: 0px 30px 0px 30px;
}

img {
  vertical-align: middle;
}

.header-left {
  padding: 0;
}

.header-right {
  padding-left: 3em;
}

.header-right h1 {
  font-size: 2.5em;
  color: #ff1493;
  margin: 0.3em 0 0;
}

.header-right h2 {
  font-size: 1.5em;
  color: #fff;
  padding-top: .5em;
  position: relative;
}

.header-right h6 {
  font-size: 1em;
  color: #C7C7C7;
  margin-top: 0.8em;
  letter-spacing: 6px;
}

p {
  font-size: 1.1em;
  color: #999;
  line-height: 1.8em;
}

.col-md-4, .col-md-8, .col-md-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Overlock', cursive;
}

body a {
  text-decoration: none;
  color: #fff;
}

body a:hover {
  color: #ff1493;
}
/*Nav Css Start*/
nav {
  top: 0%;
  width: 100%;
  background-color: #283131;
  position: sticky;
  top: 0;
}
.navigation {
  padding: 5px;
  margin: 0 auto;
  text-align: center;

}
.navigation ul li {
  list-style: none;
  margin: 0 10px;
  display: inline-block;
}
.navigation ul li a:hover {
  padding: 12px;
  color: #fc0;
}
.navigation ul li a {
  margin: 8px;
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}
/*Nav Css End*/

#skills, #hobbies #contact {
  padding: 3em 0;
}

.column {
  align-items: center;
  float: left;
  width: 33.33%;
  padding: 20px;
}

.column1 {
  align-items: center;
  float: left;
  width: 65% 35%;
  padding: 10px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h3.title {
  font-size: 4em;
  text-align: center;
  color: #ff1493;
  border-bottom: 4px double rgba(240, 206, 18, 0.35);
  padding-bottom: 0.2em;

}

#hobbies {
  background: url(../images/bck2.jpg)no-repeat center 0px;
  background-size: cover;
}

#contact p {
  color: #1f1f1f;
  font-weight: 300;
}

#contact p a {
  color: #1f1f1f;
}

#contact p a:hover {
  color: #ff1493;
}

.footer {
  padding: 0.5em 0;
  text-align: center;
  background: #1F1F1F;
}

.footer p {
  color: #fff;
  font-size: 1.1em;
}
